In [1]:
import sqlite3 as lite
import pandas as pd

In [6]:
with lite.connect("Attend.sqlite") as con:
    print(pd.read_sql("Select * from sqlite_master",con))
    # con.execute("DRop table Attendence_28_9_23;")
    # ddf=pd.read_sql("Select * from Attendence_27_9_23 where usn like ('%63')",con)
    # ddf=pd.read_sql("Select * from Attendence_28_9_23",con)
    # print(ddf)
    # con.execute("DROP Table Attendence_test")
    con.commit()
# ddf

    type                name            tbl_name  rootpage  \
0  table  Attendence_28_9_23  Attendence_28_9_23         2

                                                 sql
0  CREATE TABLE "Attendence_28_9_23" (\n"Sl No:" ...

OperationalError: no such table: Attendence_test

In [3]:
pd.read_excel("Attendence_script.xlsx")

    Sl No:           USN               Name  Attendence
0        1  1RVU22BSC008    Alaric Sequeira           0
1        2  1RVU22BSC027         Dharshan V           0
2        3  1RVU22BSC028    Divya jnanakshi           0
3        4  1RVU22BSC035   Hussaina Mustafa           0
4        5  1RVU22BSC044       Kishor Desai           0
..     ...           ...                ...         ...
86      87  1RVU22CSE179    Tanisha Ibrahim           0
87      88  1RVU22CSE184        Varnita S R           0
88      89  1RVU22CSE185           Varsha C           0
89      90  1RVU22CSE192  Vismitha Priyanka           0
90      91  1RVU22CSE193      Yashwanth b u           0

[91 rows x 4 columns]